<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zachary.reactnative.baidumap">
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.CALL_PHONE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
  <uses-permission android:name="android.permission.READ_LOGS"/>
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <application android:allowBackup="true"
               android:label="@string/app_name"
               android:supportsRtl="true"
  >
    <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="nRK4GxSzgHzoFr7aWFec7LXQdT4xeGlN" />
    <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
    </service>
  </application>

</manifest>
